version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: crm_system_app
        volumes:
        - ./:/var/www
        networks:
        - laravel

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        ports:
        - "8000:80"
        volumes:
        - ./:/var/www
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
        - app
        networks:
        - laravel

    mysql:
        image: mysql:8.0
        container_name: crm_system_mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: crm_system
            MYSQL_USER: mini_crm
            MYSQL_PASSWORD: mini_crm
        ports:
        - "3306:3306"
        volumes:
        - mysql_data:/var/lib/mysql
        networks:
        - laravel   

networks:
    laravel:

volumes:
    mysql_data: